*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
Gemfile.lock


.kotlin/metadata/kotlinTransformedMetadataLibraries/

.kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/

.kotlin/sessions/

secrets.properties

node_modules/

fastlane/report.xml

androidApp/google-services.json

iosApp/iosApp/GoogleService-Info.plist

core/src/androidMain/google-services.json

iosApp/Configuration.storekit

iosApp/StoreKitTestCertificate.cer

iosApp/SubscriptionKey_0AE80D1D.p8
