*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
Gemfile.lock


.kotlin/metadata/kotlinTransformedMetadataLibraries/

.kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/

.kotlin/sessions/

secrets.properties

node_modules/

fastlane/report.xml

app-android/google-services.json

app-ios/app-ios/GoogleService-Info.plist

presentation/src/androidMain/google-services.json

app-ios/Configuration.storekit

app-ios/StoreKitTestCertificate.cer

app-ios/SubscriptionKey_0AE80D1D.p8

# Generated MVI docs
libs/mvi/docs/
