name: iOS CI

on:
  workflow_dispatch:

env:
  LIFT_BRO_ADMOB_APP_ID: ${{ secrets.LIFT_BRO_ADMOB_APP_ID }}
  LIFT_BRO_AD_UNIT_ID: ${{ secrets.LIFT_BRO_AD_UNIT_ID }}
  MATCH_GIT_PRIVATE_KEY: ${{ secrets.MATCH_GIT_PRIVATE_KEY }}
  MATCH_GIT_URL: ${{ secrets.MATCH_GIT_URL }}
  APPSTORE_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
  APPSTORE_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
  APPSTORE_PRIVATE_KEY: ${{ secrets.APPSTORE_PRIVATE_KEY }}
  FASTLANE_MATCH_PASSWORD: ${{ secrets.FASTLANE_MATCH_PASSWORD }}
  FASTLANE_USER: ${{ secrets.FASTLANE_USER }}

jobs:
  ios_tests:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Maestro
        run: |
          curl -Ls "https://get.maestro.mobile.dev" | bash
          echo "PATH=$PATH:$HOME/.maestro/bin" >> $GITHUB_ENV
        shell: bash

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.MATCH_GIT_PRIVATE_KEY }}

      - name: Run tests
        run: |
          bundle install
          bundle exec fastlane ios test

  ios_deploy:
    needs: ios_tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true

      - name: Build and Submit to App Store (Release Lane)
        run: |
          bundle install
          bundle exec fastlane ios deploy

      - name: Upload Build Artifact (IPA)
        uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: build/artifacts/ios/iosApp.ipa
          if-no-files-found: ignore
